<a href="https://colab.research.google.com/github/Thanchanokning/229352/blob/main/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_Lab02_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Statistical Learning for Data Science 2 (229352)
#### Instructor: Donlapark Ponnoprat

#### [Course website](https://donlapark.pages.dev/229352/)

## Lab #2

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, roc_curve

# For Fashion-MNIST
from tensorflow.keras.datasets import fashion_mnist

# For 20 Newsgroups
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

## Part 1: Marketing Campaign Dataset - Manual Data Preprocessing & Logistic Regression

### Load the Marketing Campaign Dataset ([Data Information](https://archive.ics.uci.edu/dataset/222/bank+marketing))

The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be (`'yes'`) or not (`'no'`) subscribed.

In [ ]:
bank_url = 'https://raw.githubusercontent.com/donlap/ds352-labs/main/bank.csv'

df = pd.read_csv(bank_url, sep=';', na_values=['unknown'])
df = df.drop(["emp.var.rate", "cons.price.idx", "cons.conf.idx",	"euribor3m", "nr.employed"], axis=1)
print("Shape of the dataset:", df.shape)
df.head()

Shape of the dataset: (41188, 16)

   age        job  marital    education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome   y
0   56  housemaid  married     basic.4y      no      no   no  telephone   may         mon       261         1    999         0  nonexistent  no
1   57   services  married  high.school     NaN      no   no  telephone   may         mon       149         1    999         0  nonexistent  no
2   37   services  married  high.school      no     yes   no  telephone   may         mon       226         1    999         0  nonexistent  no
3   40     admin.  married     basic.6y      no      no   no  telephone   may         mon       151         1    999         0  nonexistent  no
4   56   services  married  high.school      no      no  yes  telephone   may         mon       307         1    999         0  nonexistent  no

### Data Exploration

In [ ]:
print("--- Missing Values Count ---")
print(df.isnull().sum())

--- Missing Values Count ---
age               0
job             330
marital          80
education      1731
default        8597
housing         990
loan            990
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
y                 0
dtype: int64

In [ ]:
print("--- Unique Values for Categorical Columns ---")
for col in df.select_dtypes(include='object').columns:
    print(f"\n'{col}' unique values:")
    print(df[col].value_counts(dropna=False)) # Include NaN counts

--- Unique Values for Categorical Columns ---

'job' unique values:
job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
NaN                330
Name: count, dtype: int64

'marital' unique values:
marital
married     24928
single      11568
divorced     4612
NaN            80
Name: count, dtype: int64

'education' unique values:
education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
NaN                     1731
illiterate                18
Name: count, dtype: int64

'default' unique values:
default
no     32588
NaN     8597
yes        3
Name: count, dtype: int64

'housing' unique values:
housing
yes    21576
no     18622
NaN      990
Name: count, dtype: int64

'loan' unique values:
loan
no     33950
yes     6248
NaN      990
Name: count, dtype: int64

'contact' unique values:
contact
cellular     26144
telephone    15044
Name: count, dtype: int64

'month' unique values:
month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: count, dtype: int64

'day_of_week' unique values:
day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: count, dtype: int64

'poutcome' unique values:
poutcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64

'y' unique values:
y
no     36548
yes     4640
Name: count, dtype: int64

### Data Preprocessing

In [ ]:
# Map target variable 'y' to 0 (no) and 1 (yes)
df['y_new'] = df['y'].map({'yes':1,'no':0}) # Write your code here


# Drop 'duration' due to data leakage


# Define features (X) and target (y)

y=df['y_new']
X=df.drop(['y','y_new'],axis=1)
print(y)
print(X)
# Split the data BEFORE any transformations


# Print data shape

0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y_new, Length: 41188, dtype: int64
       age          job  marital            education default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome
0       56    housemaid  married             basic.4y      no      no   no  telephone   may         mon       261         1    999         0  nonexistent
1       57     services  married          high.school     NaN      no   no  telephone   may         mon       149         1    999         0  nonexistent
2       37     services  married          high.school      no     yes   no  telephone   may         mon       226         1    999         0  nonexistent
3       40       admin.  married             basic.6y      no      no   no  telephone   may         mon       151         1    999         0  nonexistent
4       56     services  married          high.school      no      no  yes  telephone   may         mon       307         1    999         0  nonexistent
...    ...          ...      ...                  ...     ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...
41183   73      retired  married  professional.course      no     yes   no   cellular   nov         fri       334         1    999         0  nonexistent
41184   46  blue-collar  married  professional.course      no      no   no   cellular   nov         fri       383         1    999         0  nonexistent
41185   56      retired  married    university.degree      no     yes   no   cellular   nov         fri       189         2    999         0  nonexistent
41186   44   technician  married  professional.course      no      no   no   cellular   nov         fri       442         1    999         0  nonexistent
41187   74      retired  married  professional.course      no     yes   no   cellular   nov         fri       239         3    999         1      failure

[41188 rows x 15 columns]

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)
X_test

       age           job   marital            education default housing loan   contact month day_of_week  duration  campaign  pdays  previous     poutcome
23082   42     housemaid   married          high.school      no     yes   no  cellular   aug         tue       176         1    999         0  nonexistent
29288   40   blue-collar    single             basic.6y     NaN     yes   no  cellular   apr         fri       155         3    999         1      failure
30736   38    technician   married    university.degree      no     yes   no  cellular   may         tue        55         1    999         1      failure
27614   55  entrepreneur  divorced    university.degree      no      no   no  cellular   nov         fri       110         2    999         0  nonexistent
29254   38    technician   married  professional.course     NaN      no   no  cellular   apr         fri       232         2    999         0  nonexistent
...    ...           ...       ...                  ...     ...     ...  ...       ...   ...         ...       ...       ...    ...       ...          ...
25087   32        admin.   married    university.degree      no     yes   no  cellular   nov         tue        61         1    999         0  nonexistent
32243   47   blue-collar    single             basic.4y      no     yes   no  cellular   may         fri        87         2    999         1      failure
37115   58    management   married    university.degree      no      no   no  cellular   jul         wed       292         6    999         1      failure
25374   43    technician   married  professional.course      no     yes   no  cellular   nov         tue       166         3    999         1      failure
25734   51  entrepreneur   married    university.degree      no      no   no  cellular   nov         wed        87         2    999         1      failure

[12357 rows x 15 columns]

We will apply `StandardScaler()`, `OrdinalEncoder()`, and `OneHotEncoder()` on a few selected columns.

**1. Numerical Feature: `age` and `campaign` (Standard Scaling)**

In [ ]:
num_cols_demo = ['age', 'campaign']

scaler = StandardScaler()

# Fit the scaler ONLY on the training data


X_train_scaled_demo = scaler.fit_transform(X_train[num_cols_demo])# Write your code here
X_test_scaled_demo = scaler.transform(X_test[num_cols_demo])# Write your code here
X_test

       age           job   marital            education default housing loan   contact month day_of_week  duration  campaign  pdays  previous     poutcome
23082   42     housemaid   married          high.school      no     yes   no  cellular   aug         tue       176         1    999         0  nonexistent
29288   40   blue-collar    single             basic.6y     NaN     yes   no  cellular   apr         fri       155         3    999         1      failure
30736   38    technician   married    university.degree      no     yes   no  cellular   may         tue        55         1    999         1      failure
27614   55  entrepreneur  divorced    university.degree      no      no   no  cellular   nov         fri       110         2    999         0  nonexistent
29254   38    technician   married  professional.course     NaN      no   no  cellular   apr         fri       232         2    999         0  nonexistent
...    ...           ...       ...                  ...     ...     ...  ...       ...   ...         ...       ...       ...    ...       ...          ...
25087   32        admin.   married    university.degree      no     yes   no  cellular   nov         tue        61         1    999         0  nonexistent
32243   47   blue-collar    single             basic.4y      no     yes   no  cellular   may         fri        87         2    999         1      failure
37115   58    management   married    university.degree      no      no   no  cellular   jul         wed       292         6    999         1      failure
25374   43    technician   married  professional.course      no     yes   no  cellular   nov         tue       166         3    999         1      failure
25734   51  entrepreneur   married    university.degree      no      no   no  cellular   nov         wed        87         2    999         1      failure

[12357 rows x 15 columns]

Let's take a look at the transformed `age` and `campaign` features and their statistics.

In [ ]:
print("\nOriginal X_train 'age' and 'campaign' head:")
print(X_train[num_cols_demo].head())
print("\nScaled X_train 'age' and 'campaign' head:")
print(pd.DataFrame(X_train_scaled_demo, columns=num_cols_demo, index=X_train.index).head())

print("\nMean of scaled 'age' (train):", X_train_scaled_demo[:, 0].mean())
print("Std Dev of scaled 'campaign' (train):", X_train_scaled_demo[:, 1].std())

Original X_train 'age' and 'campaign' head:
       age  campaign
32611   26         7
33212   49         6
6122    45         2
15549   29         5
33416   48         2

Scaled X_train 'age' and 'campaign' head:
            age  campaign
32611 -1.345445  1.593906
33212  0.863637  1.233915
6122   0.479449 -0.206048
15549 -1.057304  0.873925
33416  0.767590 -0.206048

Mean of scaled 'age' (train): 1.121351825364523e-16
Std Dev of scaled 'campaign' (train): 0.9999999999999999

**2. Ordinal Feature: `education` (Ordinal Encoding with Imputation)**

- **Imputation**

In [ ]:
ord_col_demo = ['education']

imputer_ord = SimpleImputer(strategy='most_frequent')

## Write your code here

X_train_imputed_ord_demo = imputer_ord.fit_transform(X_train[ord_col_demo ]) # Write your code here
X_test_imputed_ord_demo = imputer_ord.transform(X_test[ord_col_demo])# Write your code here

X_train['education']

32611      university.degree
33212               basic.9y
6122                basic.9y
15549               basic.9y
33416               basic.9y
                ...
13591      university.degree
18981    professional.course
9756                basic.4y
14673      university.degree
31245            high.school
Name: education, Length: 28831, dtype: object

- **Ordinal Encoding**

In [ ]:
education_categories = [
    'illiterate', 'basic.4y', 'basic.6y', 'basic.9y', 'high.school',
    'professional.course', 'university.degree', 'masters', 'doctorate'
]

In [ ]:
ordinal_encoder = OrdinalEncoder(categories=[education_categories])

## Write your code here

X_train_ord_encoded_demo = ordinal_encoder.fit_transform(X_train_imputed_ord_demo)# Write your code here
X_test_ord_encoded_demo = ordinal_encoder.transform(X_test_imputed_ord_demo)# Write your code here
X_test

       age           job   marital            education default housing loan   contact month day_of_week  duration  campaign  pdays  previous     poutcome
23082   42     housemaid   married          high.school      no     yes   no  cellular   aug         tue       176         1    999         0  nonexistent
29288   40   blue-collar    single             basic.6y     NaN     yes   no  cellular   apr         fri       155         3    999         1      failure
30736   38    technician   married    university.degree      no     yes   no  cellular   may         tue        55         1    999         1      failure
27614   55  entrepreneur  divorced    university.degree      no      no   no  cellular   nov         fri       110         2    999         0  nonexistent
29254   38    technician   married  professional.course     NaN      no   no  cellular   apr         fri       232         2    999         0  nonexistent
...    ...           ...       ...                  ...     ...     ...  ...       ...   ...         ...       ...       ...    ...       ...          ...
25087   32        admin.   married    university.degree      no     yes   no  cellular   nov         tue        61         1    999         0  nonexistent
32243   47   blue-collar    single             basic.4y      no     yes   no  cellular   may         fri        87         2    999         1      failure
37115   58    management   married    university.degree      no      no   no  cellular   jul         wed       292         6    999         1      failure
25374   43    technician   married  professional.course      no     yes   no  cellular   nov         tue       166         3    999         1      failure
25734   51  entrepreneur   married    university.degree      no      no   no  cellular   nov         wed        87         2    999         1      failure

[12357 rows x 15 columns]

Let's take a look at the imputed and ordinal-encoded `education`.

In [ ]:
print("\nOriginal X_train 'education' head:")
print(X_train[ord_col_demo].iloc[20:25])
print("\nImputed X_train 'education' head (after imputer.transform):")
print(pd.DataFrame(X_train_imputed_ord_demo, columns=ord_col_demo, index=X_train.index).iloc[20:25])
print("\nOrdinal Encoded X_train 'education' head:")
print(pd.DataFrame(X_train_ord_encoded_demo, columns=ord_col_demo, index=X_train.index).iloc[20:25])

Original X_train 'education' head:
                 education
12529  professional.course
33073    university.degree
29895             basic.9y
18097             basic.9y
19385  professional.course

Imputed X_train 'education' head (after imputer.transform):
                 education
12529  professional.course
33073    university.degree
29895             basic.9y
18097             basic.9y
19385  professional.course

Ordinal Encoded X_train 'education' head:
       education
12529        5.0
33073        6.0
29895        3.0
18097        3.0
19385        5.0

**3. Nominal Feature: `job` (One-Hot Encoding with Imputation)**

- **Imputation**

In [ ]:
nom_col_demo = ['job']

imputer_nom = SimpleImputer(strategy='most_frequent')
imputer_nom.fit(X_train[nom_col_demo])

X_train_imputed_nom_demo = imputer_nom.fit_transform(X_train[nom_col_demo])
X_test_imputed_nom_demo = imputer_nom.transform(X_test[nom_col_demo])

- **Nominal Encoding**

In [ ]:
onehot_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

## Write your code here


X_train_onehot_encoded_demo = onehot_encoder.fit_transform(X_train[['job']]) ## Write your code here
X_test_onehot_encoded_demo = onehot_encoder.transform(X_test[['job']])## Write your code here

In [ ]:
# X_train = pd.concat([X_train,X_train_onehot])
# X_train

NameError: name 'X_train_onehot' is not defined

In [ ]:
# X_train = pd.concat([X_train.reset_index(drop=True),
#                     pd.DataFrame(X_train_onehot,columns=onehot_encoder.get_feature_names_out(['job']))],axis=1)
# X_train = X_train.drop(['job'],axis=1)
# X_train

In [ ]:
# X_test = pd.concat([X_test.reset_indexdrop=True),
#                     pd.DataFrame(X_test_onehot,columns=onehot_encoder.get_feature_names_out(['job'])),axis=1)
# X_test

In [ ]:
print("\nOriginal X_train 'job' head:")
print(X_train[nom_col_demo].iloc[40:45])
print("\nImputed X_train 'job' head (after imputer.transform):")
print(pd.DataFrame(X_train_imputed_nom_demo, columns=nom_col_demo, index=X_train.index).iloc[40:45])
print("\nOne-Hot Encoded X_train 'job' shape:", X_train_onehot_encoded_demo.shape)
print("First 5 rows of One-Hot Encoded X_train 'job':")
print(pd.DataFrame(X_train_onehot_encoded_demo, columns=onehot_encoder.get_feature_names_out(nom_col_demo), index=X_train.index).iloc[40:45])

### **Exercise 1: Apply All Preprocessing & Train Logistic Regression**

Now, it's your turn to apply these preprocessing steps to *all* relevant columns and then train a Logistic Regression model.

**Instructions:**

1.  Look at the Variable Table in [this link](https://archive.ics.uci.edu/dataset/222/bank+marketing).
2. Make lists for `numerical_features`, `ordinal_features`, and `nominal_features`.
3. Preprocess the features. It is safer to make a copy of `X_train` using:
   ```
   X_train_copy = X_train.copy()
   X_test_copy = X_test.copy()
   ```
   and preprocess `X_train_copy` instead.

   **For nominal features, concat the one-hot encoded features using [`pd.concat(..., axis=1)`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) and drop the old nominal features from the dataframe.**
4. Train Logistic Regression on the preprocessed `X_train_copy` and `y_train`.
5. Evaluate the Model:
    *   Make predictions on the preprocessed `X_test_copy`.
    *   Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?

In [ ]:
# --- YOUR CODE FOR EXERCISE 1 STARTS HERE ---
X_train_copy = X_train.copy()
X_test_copy = X_test.copy()

In [ ]:
#nominal
nom_col_demo = ['job','marital','default','housing','loan','contact','month','poutcome']
imputer_nom = SimpleImputer(strategy='most_frequent')
imputer_nom.fit(X_train[nom_col_demo])

X_train_imputed_nom_demo = imputer_nom.transform(X_train[nom_col_demo])
X_test_imputed_nom_demo = imputer_nom.transform(X_test[nom_col_demo])
onehot_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

X_train_onehot_encoded_demo = onehot_encoder.fit_transform(X_train_imputed_nom_demo)
X_test_onehot_encoded_demo = onehot_encoder.transform(X_test_imputed_nom_demo)

In [ ]:
#ordinal
ord_col_demo = ['education']
imputer_ord = SimpleImputer(strategy='most_frequent')
imputer_ord.fit(X_train[ord_col_demo])

X_train_imputed_ord_demo = imputer_ord.fit_transform(X_train[ord_col_demo])
X_test_imputed_ord_demo = imputer_ord.transform(X_test[ord_col_demo])
education_categories = [
    'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown'
]

ordinal_encoder = OrdinalEncoder(categories=[education_categories])
X_train_ord_encoded_demo = ordinal_encoder.fit_transform(X_train_imputed_ord_demo)
X_test_ord_encoded_demo = ordinal_encoder.transform(X_test_imputed_ord_demo)

In [ ]:
#Numerical
num_cols_demo = ['age', 'campaign','duration','campaign','pdays','previous']
scaler = StandardScaler()

X_train_scaled_demo = scaler.fit_transform(X_train[num_cols_demo])
X_test_scaled_demo = scaler.transform(X_test[num_cols_demo])

In [ ]:
X_train = pd.concat([pd.DataFrame(X_train_scaled_demo, columns=num_cols_demo, index=X_train.index),
                     pd.DataFrame(X_train_ord_encoded_demo, columns=ord_col_demo, index=X_train.index),
                     pd.DataFrame(X_train_onehot_encoded_demo, columns=onehot_encoder.get_feature_names_out(nom_col_demo), index=X_train.index)], axis=1)

X_test = pd.concat([pd.DataFrame(X_test_scaled_demo, columns=num_cols_demo, index=X_test.index),
                    pd.DataFrame(X_test_ord_encoded_demo, columns=ord_col_demo, index=X_test.index),
                    pd.DataFrame(X_test_onehot_encoded_demo, columns=onehot_encoder.get_feature_names_out(nom_col_demo), index=X_test.index)], axis=1)

In [ ]:
X_train

            age  campaign  duration  campaign    pdays  previous  education  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  marital_divorced  marital_married  marital_single  default_no  default_yes  housing_no  housing_yes  loan_no  loan_yes  contact_cellular  contact_telephone  month_apr  month_aug  month_dec  month_jul  month_jun  month_mar  month_may  month_nov  month_oct  month_sep  poutcome_failure  poutcome_nonexistent  poutcome_success
32611 -1.345445  1.593906 -0.965667  1.593906  0.19335  1.659421        6.0         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              0.0             1.0         1.0          0.0         0.0          1.0      0.0       1.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0               1.0                   0.0               0.0
33212  0.863637  1.233915 -0.911344  1.233915  0.19335  1.659421        2.0         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0               1.0                   0.0               0.0
6122   0.479449 -0.206048 -0.356465 -0.206048  0.19335 -0.348333        2.0         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0               0.0              1.0             0.0         1.0          0.0         1.0          0.0      1.0       0.0               0.0                1.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0               0.0                   1.0               0.0
15549 -1.057304  0.873925 -0.042164  0.873925  0.19335 -0.348333        2.0         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0               0.0                   1.0               0.0
33416  0.767590 -0.206048  2.705066 -0.206048  0.19335 -0.348333        2.0         0.0              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      0.0       1.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0               0.0                   1.0               0.0
...         ...       ...       ...       ...      ...       ...        ...         ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...               ...              ...             ...         ...          ...         ...          ...      ...       ...               ...                ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...               ...                   ...               ...
13591 -0.865210 -0.566039 -0.143051 -0.566039  0.19335 -0.348333        6.0         0.0              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              0.0             1.0         1.0          0.0         0.0          1.0      0.0       1.0               1.0                0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0               0.0                   1.0               0.0
18981  1.728061  0.513934  0.590320  0.513934  0.19335 -0.348333        5.0         0.0              0.0               0.0            0.0             0.0          1.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0               0.0                   1.0               0.0
9756  -0.673116  1.233915 -0.771654  1.233915  0.19335 -0.348333        0.0         0.0              0.0               0.0            0.0             0.0          0.0                0.0           1.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      0.0       1.0               0.0                1.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0               0.0                   1.0               0.0
14673  0.959685 -0.206048 -0.620324 -0.206048  0.19335 -0.348333        6.0         0.0              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0               0.0                   1.0               0.0
31245 -1.249398 -0.566039 -0.321543 -0.566039  0.19335 -0.348333        3.0         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0               0.0                   1.0               0.0

[28831 rows x 42 columns]

In [ ]:
X_test

            age  campaign  duration  campaign    pdays  previous  education  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  marital_divorced  marital_married  marital_single  default_no  default_yes  housing_no  housing_yes  loan_no  loan_yes  contact_cellular  contact_telephone  month_apr  month_aug  month_dec  month_jul  month_jun  month_mar  month_may  month_nov  month_oct  month_sep  poutcome_failure  poutcome_nonexistent  poutcome_success
23082  0.191308 -0.566039 -0.317663 -0.566039  0.19335 -0.348333        3.0         0.0              0.0               0.0            1.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0               0.0                   1.0               0.0
29288 -0.000786  0.153943 -0.399148  0.153943  0.19335  1.659421        1.0         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              0.0             1.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0               1.0                   0.0               0.0
30736 -0.192880 -0.566039 -0.787175 -0.566039  0.19335  1.659421        6.0         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0               1.0                   0.0               0.0
27614  1.439920 -0.206048 -0.573760 -0.206048  0.19335 -0.348333        6.0         0.0              0.0               1.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               1.0              0.0             0.0         1.0          0.0         1.0          0.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0               0.0                   1.0               0.0
29254 -0.192880 -0.206048 -0.100368 -0.206048  0.19335 -0.348333        5.0         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0               0.0              1.0             0.0         1.0          0.0         1.0          0.0      1.0       0.0               1.0                0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0               0.0                   1.0               0.0
...         ...       ...       ...       ...      ...       ...        ...         ...              ...               ...            ...             ...          ...                ...           ...          ...             ...             ...               ...              ...             ...         ...          ...         ...          ...      ...       ...               ...                ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...               ...                   ...               ...
25087 -0.769163 -0.566039 -0.763893 -0.566039  0.19335 -0.348333        6.0         1.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0               0.0                   1.0               0.0
32243  0.671543 -0.206048 -0.663006 -0.206048  0.19335  1.659421        0.0         0.0              1.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              0.0             1.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0               1.0                   0.0               0.0
37115  1.728061  1.233915  0.132448  1.233915  0.19335  1.659421        6.0         0.0              0.0               0.0            0.0             1.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         1.0          0.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0               1.0                   0.0               0.0
25374  0.287355  0.153943 -0.356465  0.153943  0.19335  1.659421        5.0         0.0              0.0               0.0            0.0             0.0          0.0                0.0           0.0          0.0             1.0             0.0               0.0              1.0             0.0         1.0          0.0         0.0          1.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0               1.0                   0.0               0.0
25734  1.055732 -0.206048 -0.663006 -0.206048  0.19335  1.659421        6.0         0.0              0.0               1.0            0.0             0.0          0.0                0.0           0.0          0.0             0.0             0.0               0.0              1.0             0.0         1.0          0.0         1.0          0.0      1.0       0.0               1.0                0.0        0.0        0.0        0.0        0.0        0.0        0.0        0.0        1.0        0.0        0.0               1.0                   0.0               0.0

[12357 rows x 42 columns]

In [ ]:
model = LogisticRegression()
model.fit(X_train,y_train)

y_predic = model.predict(X_test)
print(y_predic)

[0 0 0 ... 0 0 0]

In [ ]:
target_names = ['without diabetes', 'with diabetes']
print(classification_report(y_test, y_predic, target_names=target_names))

                  precision    recall  f1-score   support

without diabetes       0.92      0.98      0.95     10912
   with diabetes       0.66      0.36      0.47      1445

        accuracy                           0.90     12357
       macro avg       0.79      0.67      0.71     12357
    weighted avg       0.89      0.90      0.89     12357

## Part 2: Fashion-MNIST Dataset - Image Classification

### Load Fashion-MNIST Dataset

The Fashion-MNIST dataset consists of 28x28 grayscale images of fashion items.

In [ ]:
(fm_X_train, fm_y_train), (fm_X_test, fm_y_test) = fashion_mnist.load_data()

print(f"Fashion-MNIST Train data shape: {fm_X_train.shape}")
print(f"Fashion-MNIST Train labels shape: {fm_y_train.shape}")
print(f"Fashion-MNIST Test data shape: {fm_X_test.shape}")
print(f"Fashion-MNIST Test labels shape: {fm_y_test.shape}")

In [ ]:
print(f"First image {fm_X_train[0]}")
print(f"First label {fm_y_train[0]}")

### Visualize Fashion-MNIST Images

Let's see what these images look like.

In [ ]:
fashion_mnist_class_names = [
    'T-shirt/top', 'Trouser', 'Pullover', 'Dress', 'Coat',
    'Sandal', 'Shirt', 'Sneaker', 'Bag', 'Ankle boot'
]

# Visualize the images
## Write your code here

### **Exercise 2: Preprocessing Images (Flatten and Scale)**

Images are 2D arrays (matrices of pixels) and pixel values are integers from 0-255. For Logistic Regression, we need:
*  **Flattening:** Convert each 28x28 image into a 1D array of 784 features.
*  **Scaling:** Normalize pixel values from [0, 255] to [0, 1].

**Instructions:**

1.   **Flatten:** Use the `.reshape()` method (see [documentation](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.reshape.html)). For `fm_X_train_binary` (shape `(num_samples, 28, 28)`), you want to reshape it to `(num_samples, 28*28)`.
2.  **Scale:** Divide the flattened pixel values by 255.0 to get values between 0 and 1.
3.   **Train Logistic Regression:**
    *   Initialize `LogisticRegression(solver='saga')`. `saga` is a good solver when both number of samples and number of features are large.
    *   Fit the model on your *processed* `fm_X_train_scaled` and `fm_y_train`.
4.   **Make Predictions:** Use `predict()` to make predictions on the *processed* `fm_X_test_scaled`.
5.   **Print Classification Report:** Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?
6.   **Visualize Misclassifications:**
    *   Find the indices in `fm_X_test_binary` where your model made incorrect predictions (i.e., `fm_y_pred != fm_y_test`).
    *   Select 5 of these misclassified images.
    *   Plot these images (using `plt.imshow`). For each image, print its true label and its predicted label.

In [ ]:
# --- YOUR CODE FOR EXERCISE 2 STARTS HERE ---

## Part 3: 20 Newsgroups Dataset - Text Classification

### Load 20 Newsgroups Dataset

The 20 newsgroups dataset comprises around 18000 newsgroups posts on 20 topics.

In [ ]:
news_train = fetch_20newsgroups(subset='train', shuffle=True, random_state=42)
news_test = fetch_20newsgroups(subset='test', shuffle=True, random_state=42)

X_train_news, y_train_news = news_train.data, news_train.target
X_test_news, y_test_news = news_test.data, news_test.target

print(f"Number of training documents: {len(X_train_news)}")
print(f"Number of test documents: {len(X_test_news)}")
print(f"Categories: {news_train.target_names}")

### Explore Sample Document

In [ ]:
# Print the first document and its class
## Write your code here

### Preprocessing: Text Vectorization Demonstration with `TfidfVectorizer`

$$
\text{TF-IDF}(t, d, D) = \text{TF}(t, d) \times \text{IDF}(t, D)
$$

Where:

$$
\text{TF}(t, d) = \frac{\text{number of word }t\text{ in } d}{\text{number of words in } d} \quad \text{ and } \quad
\text{IDF}(t, D) = \log\left(\frac{\text{total number of documents}}{\text{number of documents that contain word }t}\right).
$$

In [ ]:
sample_sentences = [
    "This is the first document.",
    "This document is the second document.",
    "And this is the third one.",
    "Is this the first document?"
]

vectorizer = TfidfVectorizer(stop_words='english')

# Fit and transform the sample sentences
sample_vec_output_sparse = # Write your code here

sample_vec_output_dense = sample_vec_output_sparse.toarray()

print(vectorizer.vocabulary_)
print(vectorizer.get_feature_names_out())
print(sample_vec_output_dense)

### **Exercise 3: Apply TF-IDF Vectorization to Full Dataset**

Now, apply `TfidfVectorizer` to the actual training and testing datasets for the 20 Newsgroups classification task.

**Instructions:**

1.  **Initialize `TfidfVectorizer`:**
    *   Initialize `TfidfVectorizer`. Use `stop_words='english'` to remove common words.
2.  **Fit and Transform Training Data:**
    *   Call `fit_transform()` on `X_train_news` to learn the vocabulary and transform the training text into TF-IDF features. Store the result in `X_train_vec`.
3.  **Transform Test Data:**
    *   Call `transform()` on `X_test_news` using the *already fitted* vectorizer. Store the result in `X_test_vec`. **Crucially, do not call `fit_transform()` on the test data!** This would cause data leakage.
4.  **Initialize Logistic Regression:**
    *   Initialize `LogisticRegression(solver='saga')`. `saga` is a good solver when both number of samples and number of features are large.
5.  **Train the Model:**
    *   Fit the model on your `X_train_vec` and `y_train_news`.
6.  **Make Predictions:**
    *   Make predictions using `predict()` on the `X_test_vec`.
7.  **Evaluate the Model:**
    *   Print `classification_report` ([Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)). What are the accuracy, average precision, average recall, and average f1-score?

In [ ]:
# --- YOUR CODE FOR EXERCISE 3 STARTS HERE ---